USE [LIBRARY]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USER_NAME] [varchar](65) NOT NULL,
	[PASSWORD] [varchar](65) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_LOGIN_ACCOUNT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNCTION_LOGIN_ACCOUNT](@USER_NAME VARCHAR(65), @PASSWORD VARCHAR(65))
RETURNS TABLE
AS
RETURN
		SELECT USER_NAME FROM ACCOUNT WHERE USER_NAME = @USER_NAME AND PASSWORD = @PASSWORD
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[SERIAL] [varchar](15) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[AUTHOR] [nvarchar](50) NULL,
	[PUBLISH_HOUSE] [nvarchar](50) NULL,
	[QUANTUM] [int] NULL,
	[IMG] [image] NULL,
	[TAG] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_FIND_BOOK_WITH_TAG]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC DBO.PROC_UPDATE_BOOK 'FN03d2', N'ssdadasdasdasdassdass', 'sssger', 'AlssssphaBooks ', 1, Null, 'STARTUP, YOUNG,'--
--select * from log order by TIME_CREATE
--END
--DROP FUNCTION FUNCTION_BOOK_WITH_TAG
CREATE FUNCTION [dbo].[FUNCTION_FIND_BOOK_WITH_TAG] (@TAG VARCHAR(15))
RETURNS TABLE
AS
RETURN 
	SELECT * FROM BOOK WHERE TAG LIKE (CONCAT('%',@TAG,'%'))

GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_BOOK_NAME]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_BOOK_NAME] ()
RETURNS TABLE
AS
RETURN 
	SELECT NAME FROM BOOK
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_BOOK_SERIAL]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_BOOK_SERIAL] ()
RETURNS TABLE
AS
RETURN 
	SELECT SERIAL FROM BOOK

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [varchar](15) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[PHONE] [varchar](15) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[IMG] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_STUDENT_NAME]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC DBO.PROC_UPDATE_STUDENT 'FN03d2', N'ssdadasdasdasdassdass', 'sssger', 'AlssssphaSTUDENTs ', 1, Null, 'STARTUP, YOUNG,'--


CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_STUDENT_NAME] ()
RETURNS TABLE
AS
RETURN 
	SELECT NAME FROM STUDENT

GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_STUDENT_ID]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_STUDENT_ID] ()
RETURNS TABLE
AS
RETURN 
	SELECT ID FROM STUDENT

GO
/****** Object:  Table [dbo].[BORROW]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_STUDENT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_ALL_BORROW_ID]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------------------------STUDENT----------------------------------------------------------------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------------------------BORROW----------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE FUNCTION [dbo].[FUNCTION_GET_ALL_BORROW_ID] ()
RETURNS TABLE
AS
RETURN 
	SELECT ID FROM BORROW
GO
/****** Object:  Table [dbo].[BORROW_DETAIL]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROW_DETAIL](
	[ID] [int] NOT NULL,
	[SERIAL] [varchar](15) NOT NULL,
	[QUANTUM] [int] NULL,
	[TIME_CREATE] [datetime] NULL,
	[BORROW_TIME] [int] NULL,
	[COMMENT] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_STUDENT_BORROW]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[FUNCTION_GET_STUDENT_BORROW] (@ID VARCHAR(15))
RETURNS TABLE
AS
RETURN 
	SELECT  BORROW.ID, SERIAL, QUANTUM
	FROM BORROW, BORROW_DETAIL
	WHERE BORROW_DETAIL.ID = BORROW.ID AND ID_STUDENT = @ID
GO
/****** Object:  UserDefinedFunction [dbo].[FUNCTION_GET_BORROW]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FUNCTION_GET_BORROW] (@ID VARCHAR(15))
RETURNS TABLE
AS
RETURN 
	SELECT ID_STUDENT,  SERIAL, QUANTUM,TIME_CREATE, BORROW_TIME, COMMENT
	FROM BORROW A, BORROW_DETAIL B
	WHERE A.ID = @ID AND A.ID = B.ID
GO
/****** Object:  View [dbo].[VIEW_BORROW_OVER_TIME]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SHIRONEKO--
CREATE VIEW [dbo].[VIEW_BORROW_OVER_TIME]
AS
	SELECT A.ID [Mã phiếu], ID_STUDENT [Mã sinh viên], TIME_CREATE [Ngày tạo], BORROW_TIME [Thời gian mượn]
	FROM BORROW A, BORROW_DETAIL B
	WHERE A.ID = B.ID AND ((GETDATE()) - (7*BORROW_TIME)) >  (DAY(TIME_CREATE))
GO
/****** Object:  View [dbo].[VIEW_ALL_BOOK]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_ALL_BOOK]
AS
	SELECT SERIAL [Mã sách], NAME [Tên sách], AUTHOR [Tác giả], PUBLISH_HOUSE [Nhà xuất bản], QUANTUM [Số lượng], IMG [Hình ảnh], TAG [Thể loại]	
	FROM BOOK
GO
/****** Object:  View [dbo].[VIEW_ALL_STUDENT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  VIEW [dbo].[VIEW_ALL_STUDENT]
AS
	SELECT ID [Mã sinh viên], NAME [Họ và Tên], PHONE [Số điện thoại], EMAIL [Địa chỉ email], IMG [Hình ảnh]	
	FROM STUDENT
GO
/****** Object:  View [dbo].[VIEW_ALL_BORROW_CARD]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_ALL_BORROW_CARD]
AS
	SELECT A.ID [Mã phiếu], ID_STUDENT [Tên sinh viên] ,[Ngày hết hạn] = ( day(7*BORROW_TIME) + (TIME_CREATE))	
	FROM BORROW A, BORROW_DETAIL B
	WHERE A.ID = B.ID
	GROUP BY a.ID, ID_STUDENT, ( day(7*BORROW_TIME) + (TIME_CREATE))	
----------------------------------------------------------------------------------------------------------------------DATA----------------------------------------------------------------------------------------------------------------------------------------------------------------
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[ACTION] [nvarchar](100) NULL,
	[TIME_CREATE] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USER_NAME], [PASSWORD]) VALUES (N'', N'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855')
INSERT [dbo].[ACCOUNT] ([USER_NAME], [PASSWORD]) VALUES (N'123', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
INSERT [dbo].[ACCOUNT] ([USER_NAME], [PASSWORD]) VALUES (N'ADB', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
GO
SET IDENTITY_INSERT [dbo].[BORROW] ON 

INSERT [dbo].[BORROW] ([ID], [ID_STUDENT]) VALUES (1, N'18150038')
SET IDENTITY_INSERT [dbo].[BORROW] OFF
GO
INSERT [dbo].[BORROW_DETAIL] ([ID], [SERIAL], [QUANTUM], [TIME_CREATE], [BORROW_TIME], [COMMENT]) VALUES (1, N'123', 1, CAST(N'2020-11-30T00:11:54.867' AS DateTime), 1, N'Mượn sách')
GO
INSERT [dbo].[LOG] ([ACTION], [TIME_CREATE]) VALUES (N'CREATE USE thanhttrinh', CAST(N'2020-11-29T23:28:22.677' AS DateTime))
INSERT [dbo].[LOG] ([ACTION], [TIME_CREATE]) VALUES (N'UPDATE PASSWORD FOR USER thanhtrinh', CAST(N'2020-11-29T23:51:20.017' AS DateTime))
INSERT [dbo].[LOG] ([ACTION], [TIME_CREATE]) VALUES (N'UPDATE PASSWORD FOR USER thanhtrinh', CAST(N'2020-11-29T23:53:43.763' AS DateTime))
GO
ALTER TABLE [dbo].[BORROW]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_BORROW] FOREIGN KEY([ID_STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BORROW] CHECK CONSTRAINT [FK_STUDENT_BORROW]
GO
ALTER TABLE [dbo].[BORROW_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BOOKBORROW] FOREIGN KEY([SERIAL])
REFERENCES [dbo].[BOOK] ([SERIAL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BORROW_DETAIL] CHECK CONSTRAINT [FK_BOOKBORROW]
GO
ALTER TABLE [dbo].[BORROW_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BORROW] FOREIGN KEY([ID])
REFERENCES [dbo].[BORROW] ([ID])
GO
ALTER TABLE [dbo].[BORROW_DETAIL] CHECK CONSTRAINT [FK_BORROW]
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_BOOK]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_BOOK] 
	@SERIAL VARCHAR(15)
AS
	DELETE BOOK 
	WHERE SERIAL= @SERIAL

GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_BORROW]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SHIRONEKO--
CREATE  PROC [dbo].[PROC_DELETE_BORROW]
	@ID INT
	AS
	BEGIN
		DELETE BORROW_DETAIL 
			WHERE @ID  = ID
		DELETE BORROW 
			WHERE @ID  = ID
	END 
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_STUDENT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_STUDENT] 
	@ID VARCHAR(15)
AS
	DELETE STUDENT 
	WHERE ID= @ID

GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_ACCOUNT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--delete from log where 1=1
--	select *from ACCOUNT
--select * from log
--select * from log order by TIME_CREATE
--END
----------------------------------------------------------------------------------------------------------------------LOG----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------ACCOUNT----------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE PROC [dbo].[PROC_INSERT_ACCOUNT] 
	@USER_NAME VARCHAR(65), 
	@PASSWORD VARCHAR(65), 
	@SUCC INT OUTPUT
AS
	BEGIN TRY
		INSERT INTO ACCOUNT VALUES (@USER_NAME, @PASSWORD)
		SET @SUCC = @@ROWCOUNT
	END TRY
	BEGIN CATCH
		SET @SUCC = @@ROWCOUNT
	RETURN
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_BOOK]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * FROM FUNCTION_LOGIN_ACCOUNT('TAMDAULONG207','1')
----------------------------------------------------------------------------------------------------------------------ACCOUNT----------------------------------------------------------------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------------------------BOOK----------------------------------------------------------------------------------------------------------------------------------------------------------------
--SELECT * FROM BOOK

--INSERT INTO BOOK VALUES('FN01', N'Quốc gia khởi nghiệp', 'Daniel *& Saul Singer', 'AlphaBooks ', 1, Null, 'STARTUP, YOUNG,')

--DROP PROC DBO.PROC_INSERT_BOOK
CREATE PROC [dbo].[PROC_INSERT_BOOK] 
	@SERIAL VARCHAR(15), 
	@NAME NVARCHAR(50), 
	@AUTHOR NVARCHAR(50), 
	@PUBLISH_HOUSE NVARCHAR(50), 
	@QUANTUM INT, 
	@IMG IMAGE, 
	@TAG VARCHAR(300)
AS
BEGIN
	INSERT INTO BOOK VALUES(@SERIAL, @NAME, @AUTHOR,@PUBLISH_HOUSE, @QUANTUM, @IMG, @TAG)
end

GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_BORROW]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_INSERT_BORROW]
	@ID_STUDENT VARCHAR(15)
	AS
	INSERT INTO BORROW VALUES (@ID_STUDENT)  
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_BORROW_DETAIL]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SHIRONEKO--
CREATE PROC [dbo].[PROC_INSERT_BORROW_DETAIL]
	@ID INT,
	@SERIAL VARCHAR(15),
	@QUANTUM INT,
	@TIME_CREATE DATETIME,
	@BORROW_TIME INT,
	@COMMENT NVARCHAR(50)
	AS
	INSERT INTO BORROW_DETAIL 
		VALUES (@ID, @SERIAL, @QUANTUM, @TIME_CREATE, @BORROW_TIME, @COMMENT)
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_LOG_EVENT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC PROC_LOGIN_EVENT 'ADSDASD'
CREATE PROC [dbo].[PROC_INSERT_LOG_EVENT] @ACTION VARCHAR(100)
AS
	INSERT INTO LOG VALUES(@ACTION, SYSDATETIME())
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_STUDENT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select *from book where SERIAL  = 'FN01' and NAME like '%'

--CREATE FUNCTION FUNCTION_FIND_BOOK(@SERIAL NVARCHAR(15)

--SELECT * FROM FUNCTION_BOOK_WITH_TAG('EEE')
----------------------------------------------------------------------------------------------------------------------STUDENT----------------------------------------------------------------------------------------------------------------------------------------------------------------
--DROP PROC PROC_INSERT_STUDENT
CREATE PROC [dbo].[PROC_INSERT_STUDENT] 
	@ID VARCHAR(15), 
	@NAME NVARCHAR(50), 
	@PHONE NVARCHAR(15), 
	@EMAIL VARCHAR(50),
	@IMG IMAGE
AS
BEGIN
	INSERT INTO STUDENT VALUES(@ID, @NAME, @PHONE,@EMAIL, @IMG)
end


GO
/****** Object:  StoredProcedure [dbo].[PROC_LOGIN_EVENT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP PROC PROC_LOGIN_EVENT
CREATE PROC [dbo].[PROC_LOGIN_EVENT] @USER_NAME VARCHAR(65)
AS
	BEGIN
		SET @USER_NAME = CONCAT('LOGIN WITH USER NAME ', @USER_NAME)
		EXEC PROC_INSERT_LOG_EVENT @USER_NAME
	END

GO
/****** Object:  StoredProcedure [dbo].[PROC_LOGOUT_EVENT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_LOGOUT_EVENT] @USER_NAME VARCHAR(65)
AS
	BEGIN
		SET @USER_NAME = CONCAT('LOGOUT WITH USER NAME ', @USER_NAME)
		EXEC PROC_INSERT_LOG_EVENT @USER_NAME
	END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_ACCOUNT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_UPDATE_ACCOUNT] 
	@USER_NAME VARCHAR(65), 
	@PASSWORD VARCHAR(65),
	@SUCC INT OUTPUT
AS
	BEGIN TRY
		UPDATE ACCOUNT 
		SET PASSWORD = @PASSWORD
		WHERE USER_NAME = @USER_NAME
		SET @SUCC = @@ROWCOUNT
	END TRY
	BEGIN CATCH
		SET @SUCC = @@ROWCOUNT
		RETURN
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BOOK]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_UPDATE_BOOK] 
	@SERIAL VARCHAR(15), 
	@NAME NVARCHAR(50), 
	@AUTHOR NVARCHAR(50), 
	@PUBLISH_HOUSE NVARCHAR(50), 
	@QUANTUM INT, 
	@IMG IMAGE, 
	@TAG VARCHAR(300)
AS
BEGIN
	UPDATE BOOK 
	SET NAME = @NAME, 
		AUTHOR = @AUTHOR, 
		PUBLISH_HOUSE = @PUBLISH_HOUSE, 
		QUANTUM = @QUANTUM, 
		IMG = @IMG, TAG = @TAG
	WHERE SERIAL = @SERIAL
end
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_STUDENT]    Script Date: 12/1/2020 9:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_UPDATE_STUDENT] 
	@ID VARCHAR(15), 
	@NAME NVARCHAR(50), 
	@PHONE VARCHAR(15), 
	@EMAIL VARCHAR(50),
	@IMG IMAGE

AS

BEGIN
	UPDATE STUDENT 
	SET NAME = @NAME, 
			EMAIL = @EMAIL,
			PHONE = @PHONE, 
			IMG = @IMG
	WHERE ID = @ID
end

GO
